* {
    box-sizing: border-box;
}

header {
    background: rgb(60, 61, 61);
    height: 6em;
    margin: 2px;
    width: 100%;
}

nav {
    height: 6em;
    margin-left: 12%;
    margin-right: 12%;
}

nav>figure {
    float: left;
    margin-top: 0.75em;
}

nav ul li {
    color: silver;
    font-family: sans-serif;
    float: left;
    margin-top: 2.5em;
    padding-left: 30px;
    padding-right: 30px;
}




main {
    margin-left: 12%;
    margin-right: 12%;
}

main section:first-child>figure:first-child {
    
    margin-top: 30px;
}

main section:nth-child(2) figure:nth-child(1) {
    float: left;
    margin: 30px 0 0 0;
}

main section:nth-child(2) figure:nth-child(2) {
    float: left;
    margin: 30px 30px 0 30px;
}

main section:nth-child(2) figure:nth-child(3) {
    float: left;
    margin: 30px 0 0 0;
}

main section:last-child figure:first-child {
    float: left;
    margin: 30px 0 30px 0;
}

main section:last-child div {
    float: left;
    font-family: sans-serif;
    margin: 30px 0 30px 30px;
    width: 450px;
}

main section:last-child div p {
    font-style: italic;
    z-index: -100;
}

main section:last-child div button {
    background: black;
    color: silver;
    font-size: 9px;
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    z-index: 1000;
}




footer {
    background: rgb(60, 61, 61);
    float: left;
    height: 6em;
    margin: 2px;
    width: 100%;
}
